#!/usr/bin/expect

set timeout -1;
spawn {{ virtualenv_dir }}/bin/python manage.py changepassword {{db_user}};
expect {
    "Password:" { exp_send "{{django_user_password}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{django_user_password}}\r" ; exp_continue }
    eof
}
